@model IEnumerable<StoreSalesAccounting.Models.Sale>

<!DOCTYPE html>
<html>
<head>
    <title>Дневные продажи</title>
    <meta charset="utf-8" />
</head>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div align="center" class="card-header">
                <h2>Продажи за @DateTime.Today.ToShortDateString()</h2>
                <form>
                    <div>
                        <label >Имя:</label>
                        <input type="text" name="name"/>
                        <label >Дата c:</label>
                        <input type="date" name="startDate"/>
                        <label >по:</label>
                        <input type="date" name="endDate"/>
                        <input type="submit" class="btn btn-green" value="Фильтр" />
                    </div>
                </form>
            </div>            
            <div class="card-body">
                <table class="table" >
                    <tr>
                        <th>Имя продавца</th>
                        <th>Проданный товар</th>
                        <th>Способ оплаты</th>
                        <th>Сумма оплаты</th>
                        <th>Примечание</th>
                        <th>Дата</th>
                        
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Employee.Name</td>
                            <td>@item.ProductName</td>
                            <td>@item.PaymentMethod</td>
                            <td>@item.SaleAmount</td>
                            <td>@item.Note</td>
                            <td>@item.Day</td>
                        </tr>
                    }
                </table>
            </div>            
            <div class="card-footer">   
                <a asp-action="CreateNewEmployee" asp-controller="Employee"><span class="btn btn-green">Добавить продавца</span></a>
                <a asp-action="NewEnrollment"><span class="btn btn-green">Добавить продажу</span></a>                
            </div>
        </div>
    </div>
</div>
</html>
